<app-breadcrumb [title]="product?.title" [breadcrumb]="'Produkt'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space" *ngIf="product">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar class="product-slick">
                        <ng-container *ngFor="let image of product.images; index as i">
                            <ng-template carouselSlide [id]="i">
                                <div>
                                    <img [defaultImage]="'assets/images/product/placeholder.jpg'" [lazyLoad]="image.src"
                                        [alt]="image.alt" class="img-fluid" [src]="image.src">
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                <owl-carousel-o [options]="ProductDetailsThumbConfig" class="product-slick">
                                    <ng-container *ngFor="let image of product.images; index as i">
                                        <ng-template carouselSlide [id]="i">
                                            <div class="owl-thumb" [class.active]="i == activeSlide">
                                                <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                                                    [lazyLoad]="image.src" [alt]="image.alt" class="img-fluid"
                                                    [src]="'assets/images/product/flower/3.jpg'"
                                                    (click)="owlCar.to(activeSlide = i.toString())">
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 rtl-text">
                    <div class="product-right">
                        <h2>{{ product?.title }}</h2>
                        <div class="border-product">
                            <h6 class="product-title">Produktdetails</h6>
                            <p>{{ product.description.substring(0, 200)+'...' }}</p>
                        </div>
                        <h3>
                            {{ (product?.price) * productService.Currency?.price | currency:
                            productService.Currency?.currency:'symbol' }}
                        </h3>
                        <h6>
                            {{ product?.specificPrice | currency: productService.Currency?.currency:'symbol' }}/100{{
                            weightMeasurement }}
                        </h6>
                        <h5>Gewicht:<span> {{product?.weight}}{{weightMeasurement}}</span></h5>
                        <div class="product-description border-product">
                            <h6 class="product-title">Menge</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                            (click)="decrement()">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number"
                                        [value]="counter" disabled />
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-right-plus" data-type="plus"
                                            (click)="increment()">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row border-product">
                            <div class="col-sm-4">
                                <app-product-options title="Sorte" [options]="varieties"
                                    (optionsFilter)="onVarietiesFilter($event)"></app-product-options>
                            </div>
                            <div class="col-sm-4">
                                <app-product-options title="Versandart" [options]="shippingMethods"
                                    (optionsFilter)="onShippingMethodsFilter($event)"></app-product-options>
                            </div>
                            <div class="col-sm-4">
                                <app-product-options title="Konsistenz" [options]="consistencies"
                                    (optionsFilter)="onConsistenciesFilter($event)"></app-product-options>
                            </div>
                            <hr />
                        </div>

                        <div class="product-buttons">
                            <a href="javascrip:void(0)" class="btn btn-solid" (click)="addToCart(product)">ALS GESCHENK
                                SENDEN</a>
                            <a href="javascrip:void(0)" class="btn btn-solid" (click)="buyNow(product)">IM ABO
                                BESTELLEN</a>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Teilen</h6>
                            <div class="product-icon">
                                <app-social></app-social>
                                <form class="d-inline-block">
                                    <button class="wishlist-btn" (click)="addToWishlist(product)">
                                        <i class="fa fa-heart"></i>
                                        <span class="title-font">Zur Wunschliste hinzufügen</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="tab-product m-0">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <ngb-tabset [type]="'tabs'" class="nav-material">
                            <ngb-tab>
                                <ng-template ngbTabTitle>Beschreibung</ng-template>
                                <ng-template ngbTabContent>
                                    <p>{{ product.description }}</p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Video</ng-template>
                                <ng-template ngbTabContent>
                                    <div class="mt-3 text-center">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/BUWzX78Ye_8"
                                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Bewertung schreiben</ng-template>
                                <ng-template ngbTabContent>
                                    <form class="theme-form">
                                        <div class="form-row">
                                            <div class="col-md-12 ">
                                                <div class="media">
                                                    <label>Rating</label>
                                                    <div class="media-body ml-3">
                                                        <div class="rating three-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name"
                                                    placeholder="Enter Your name" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" id="email" placeholder="Email"
                                                    required>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="review">Review Title</label>
                                                <input type="text" class="form-control" id="review"
                                                    placeholder="Enter your Review Subjects" required>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="review">Review Title</label>
                                                <textarea class="form-control" placeholder="Wrire Your Testimonial Here"
                                                    id="exampleFormControlTextarea1" rows="6"></textarea>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>